* {
    box-sizing: border-box; 
    font-size: 0px;
}

body, html {
    height: 100vh;
}

body {
    margin: 0px;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr 1fr;
    grid-template-rows: 1fr 2fr 2fr 2fr 2fr 1fr;
    grid-template-areas:
        ". . . . . ."
        ". header header header header ."
        ". sect1 sect2 sect3 sect4 ."
        ". main1 main1 main2 main2 ."
        ". foot1 foot1 foot1 foot2 ."
        ". . . . . ."
   }

   header {
       grid-area: header;
       background-color: #F5C6D6;
   }

   section:nth-of-type(1) {
    grid-area: sect1;
    background-color: #EE2E84;
   }
    
    section:nth-of-type(2) {
    grid-area: sect2;
    background-color: #EE2E84;
  }

  section:nth-of-type(3) {
    grid-area: sect3;
    background-color: #EE2E84;
  }

  section:nth-of-type(4) {
    grid-area: sect4;
    background-color: #EE2E84;
  }

  main:nth-of-type(1) {
    grid-area: main1;
    background-color: #85CFD8;
  }

  main:nth-of-type(2) {
      grid-area: main2;
      background-color: #85CFD8;
  }

  footer:nth-of-type(1) {
      grid-area: foot1;
      background-color: #8DC63F;
  }

  footer:nth-of-type(2) {
      grid-area: foot2;
      background-color: #E76E34;
  }

  body {
      grid-gap: 2vh;
  }




  